# bundle/pipelines/test_wons_pipeline.yml.j2
resources:
  pipelines:
    test_wons_dlt_pipeline:
      name: "[{{ environment }}] Test Wons DLT Pipeline"
      catalog: "${var.catalog}"
      target: "${var.schema_prefix}_test_wons"

      edition: ADVANCED
      channel: CURRENT
      continuous: true
      development: false

      # Compute Configuration (Serverless compute enabled)
      serverless: true

      # Libraries & Code Sources (Folder paths via file:)
      libraries:
        - file:
            path: ../../src/models/test_wons

      # Runtime Configuration
      configuration:
        bundle.target: "${bundle.target}"
        catalog: "${var.catalog}"
        schema_prefix: "${var.schema_prefix}"

      # Trigger & Schedule
      {% if environment == 'prod' %}
      trigger:
        cron:
{% filter indent(10) %}
{% include "includes/schedule.yml.j2" %}
{% endfilter %}
      {% endif %}

      # Governance, Tags & Permissions
{% filter indent(6) %}
{% include "includes/tags.yml.j2" %}
{% include "includes/permissions.yml.j2" %}
{% endfilter %}

      notifications:
        - email_recipients:
            - dev-alerts@company.com
          alerts:
            - "on-update-failure"
