# bundle/workflows/medallion_workflow.yml.j2
resources:
  jobs:
    medallion_unified_workflow:
      name: "[{{ environment }}] Medallion Unified Bronze-Silver-Gold Workflow"

      # Tasks Execution Graph
      tasks:
        - task_key: run_unified_medallion_pipeline
          pipeline_task:
            pipeline_id: "${resources.pipelines.medallion_dlt_pipeline.id}"

      # Schedule
      {% if environment == 'prod' %}
      schedule:
{% filter indent(8) %}
{% include "includes/schedule.yml.j2" %}
{% endfilter %}
      {% endif %}

      # Governance, Tags & Permissions
{% filter indent(6) %}
{% include "includes/tags.yml.j2" %}
{% include "includes/permissions.yml.j2" %}
{% endfilter %}

      email_notifications:
        on_failure:
          - dev-alerts@company.com
